  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("../images/sea.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


header {
    padding: 15px;
    background-color: rgb(216, 198, 233);
}


h1 {
    color: rgb(75, 194, 155)
}

button {
    background-color: #29e3d6;
    border-radius: 25px;
    color: rgb(112, 22, 196);
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.20px;
    line-height: 20px;
    max-width: 250px;
    padding: 25px 40px;
    margin-top: 10px;
    cursor: help;
    float: center;
    display: block;
    margin: 0px auto;
}

.page-title {
    text-align: center;
    line-height: 2.2;
    font-size: 40px;
}

.sub-title {
    color:blueviolet;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.scoreList {
    color:rgb(75, 194, 155);
}

.button-style {
    padding: 270px 0px;
}

#quiz {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#question {
    margin-bottom: 20px;
}

#timer {
    font-weight: bold;
    font-size: 30px;
}

#finish {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#highScoreList {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
}
