/* :root {
    --primary-color: ;
    --secondary-color: ;
    --tertiary-color: ;
} */

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    /* color: var(--primary-color); */
    font-family: Helvetica, Arial, sans-serif;
}


header {
    padding: 15px;
    
}

h1 {
    color: aquamarine
}


button {
    background-color: #1a03e5;
    border-radius: 25px;
    color: rgb(182, 173, 245);
    font-size: 23px;
    text-align: center;
    letter-spacing: 0.20px;
    line-height: 17px;
    max-width: 250px;
    padding: 25px 50px;
    margin-top: 10px;
    cursor: help;
    float: center;
    display: block;
    margin: 0px auto;
}

.page-title {
    /* width: 90%; */
    text-align: center;
    /* margin: 3.5%; */
    line-height: 2.2;
    font-size: 40px;
}

.sub-title {
    color:blueviolet;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.button-style {
    padding: 270px 0px;
}

.background-content {
    /* height: 600px;
    width: 100%;
    margin-bottom: 25px; */
    background-image: url("../images/sea.png");
    background-size: cover;
    background-position: center;
}
