/* :root {
    --primary-color: ;
    --secondary-color: ;
    --tertiary-color: ;
} */

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    /* color: var(--primary-color); */
    font-family: Helvetica, Arial, sans-serif;
}


header {
    padding: 15px;
    background-color: rgb(216, 198, 233);
}


h1 {
    color: rgb(75, 194, 155)
}

button {
    background-color: #29e3d6;
    border-radius: 25px;
    color: rgb(112, 22, 196);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.20px;
    line-height: 17px;
    max-width: 250px;
    padding: 25px 40px;
    margin-top: 10px;
    cursor: help;
    float: center;
    display: block;
    margin: 0px auto;
}

.page-title {
    /* width: 90%; not active */
    text-align: center;
    /* margin: 3.5%; not active */
    line-height: 2.2;
    font-size: 40px;
}

.sub-title {
    color:blueviolet;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.background-content {
    /* height: 600px;
    width: 100%;
    margin-bottom: 25px; */
    background-image: url("../images/sea.png");
    background-size: cover;
    background-position: center;
}

.button-style {
    padding: 270px 0px;
}